$color-basic: #202020;
$color-hover: #b6b9b5;
$color-background: #f5f5f5;

$color-light: #ffffff;
$color-warn: #d0021b;

$navigation-height: 144px;
$media-laptop: 'screen and (max-width: 1232px)';
$media-max-tablet: 'screen and (max-width: 1024px)';
$media-min-tablet: 'screen and (max-width: 768px)';
$media-phone-L: 'screen and (max-width: 425px)';
$media-phone-M: 'screen and (max-width: 375px)';
$media-phone-S: 'screen and (max-width: 320px)';
